@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.projects {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.image {
  border-radius: 52% 48% 48% 52% / 49% 49% 51% 51%;
  width: 70px;
  height: 70px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #117eb1;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfdc0b;
}

.projects:last-child button {
  display: none;
}

.popup {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.back_image {
  background-image: url("../public/360_F_449741015_7wFz1d5e1voLD3arDjsyST3TtQkZAhg6.jpg");
  background-size: cover;
  background-position: center 35%;
}
